@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
/* text */

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 ;
    color: #4d5ec2;
    background-color: #D3D3D3;
    
    
    
}
.a0  {
    font-size: 19px;
    font-weight: 100;
    line-height: 13px;
    color: #b34343e1;
    /* тень        x    y    цвет  */
    text-shadow: -1px 1px #000000;
    display: flex;
   

    
    

  

}
.a0 h4 a {
    margin-bottom: 2px;
    margin-left: 20px;
    /* margin-top: 2px ; */
    
}
     
.card1 {
    padding: 5px;
    background-color: #ADFF2F;
    border-width: 3px;
    /* border-style: solid;
    border-color: #538804; */
    border-radius: 10px;
    /* margin-bottom: 10px; */
}
.card2 {
    padding: 5px;
    background-color: #DDA0DD;
    border-width: 3px;
    /* border-style: solid;
    border-color: #e662e6; */
    border-radius: 10px;
    margin-bottom: 10px;
}
.card3 {
    padding: 5px;
    background-color: #52dfd8c2;
   margin-bottom: 10px; 
   
}
.conteiner{
     max-width: 500px;
     margin: auto;
     padding-top: 30px;
  
}
.avatar{
    width: 300px ;
    border-radius: 20px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}
.sil{
    cursor: pointer;
    color: #646464;
}
.sil:hover{
color: #4d5ec2;
}
.btn{
    background: #000000;
    padding: 10px 15px;
    color: #D3D3D3;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.89;
}

.card11{
    margin: 0px;
    padding: 5px;
    background-color:   #a5ff1d;;
    

}
.card11 :nth-child(2){
    /* background: #2436a083; */
    margin: 0px;
    /* width: 0px; */
    /* border-bottom: 2px black; */
    /* padding: 0px; */
}
.list{
    padding: 5px 20px;
}
.list li {
 color: rgba(26, 173, 166, 0.705);
 margin-bottom: 0px ;
}
.lis th{
    padding-right: 50px;
    padding-bottom: 0px;
    margin: 0px;
    
}
.lis  :nth-child(2)  {
    background-color: rgba(255, 0, 0, 0.267);
    margin: 0;
    
}
.a {
    margin-left: 25px;
    padding-top: 2px;
    font-size: 14px;
}
.aa{
    padding-bottom: 2px;   
}
@media (max-width: 400px) {
    font-size: 10px;
    padding: 5px;
    text-align: center;
}